@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="img/hero/HomePageGuitar.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            @*<h6>Summer Collection</h6>*@
                            <h2 class="text-light">Do you like Guitars?</h2>
                            <p class="text-light">
                                So do we! Check out our shop to see what's currently on offer!
                            </p>
                            <a a asp-action="TiledProducts" asp-controller="Products" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/HomePageGuitar2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            @*<h6>Summer Collection</h6>*@
                            <h2 class="text-light">Unused Gear?</h2>
                            <p class="text-light">
                                Reach out via our contact page to enquire about trade-ins, store credit, or cash!
                            </p>
                            <a asp-action="Contact" asp-controller="Home" class="primary-btn">Contact Us! <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

                     